@use 'src/styles/fonts.scss';

.project-container {
  width: 100%;
  height: 150px;
  // background-color: rgb(235, 235, 235);
  margin-bottom: 30px;
  position: relative;
  border-bottom: 2px solid black;
  // border-top: 2px solid black;
  padding-bottom: 10px;
  // padding-top: 10px;
}

.project-image {
  width: 243px;
  height: 100%;
  top: 0%;
  float: left;
  overflow: hidden;
}

.project-name {
  text-align: left;
  font-size: 32px;
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 45px;
  // background-color: red;
  border-bottom: 1px solid black;
}

.project-description {
  text-align: left;
  font-size: 14px;
  margin-left: 250px;
  width: calc(100% - 250px);
  height: 80px;
}

.project-team {
  right: 10%;
  margin-right: 5px;
  text-align: right;
  height: 15px;
  // width: calc(25% - 0px);
  bottom: 10px;
  right: 0px;
  position: absolute;
  font-size: 12px;
}

.project-repo {
  margin-left: 250px;
  height: 15px;
  text-align: left;
  bottom: 10px;
  position: absolute;
  font-size: 12px;
}

.project-repo a {
}
