@use 'src/styles/fonts.scss';

.project-container {
  width: 100%;
  height: 150px;
  background-color: rgb(235, 235, 235);
  margin-bottom: 30px;
}

.project-image {
  width: 50%;
  height: 100%;
  top: 0%;
  float: left;
  overflow: hidden;
}

.project-name {
  text-align: left;
  font-size: 32px;
  margin-left: 52%;
  width: 70%;
  height: 45px;
}

.project-description {
  text-align: left;
  font-size: 14px;
  margin-left: 52%;
  width: 70%;
  height: 80px;
}

.project-team {
  right: 10%;
  margin-right: 10px;
  text-align: right;
  height: 25px;
}
