@use 'src/styles/fonts.scss';

.page-container {
  overflow: auto;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-color);
}

.content-container {
  margin-top: 40px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.content-container img {
  width: 400px;
}

.content-container h1 {
  margin-top: 34px;
  font-family: Roboto-Bold;
  font-size: 32px;
  color: var(--text-color);
}

.content-container h2 {
  font-family: Roboto-Regular;
  font-size: 30px;
  color: var(--text-color);
  text-align: left;
  width: 100%;
  height: 50px;
  font-weight: 600;
  margin-bottom: 40px;
  border-bottom: 2px solid rgb(40, 195, 247);
}

.content-container h3 {
  font-family: Roboto-Regular;
  font-size: 22px;
  color: var(--text-color);
  text-align: left;
  width: 100%;
  height: 40px;
  font-weight: 600;
  margin-bottom: 40px;
  border-bottom: 2px solid rgb(40, 195, 247);
}

.project-container {
}

@media only screen and (max-width: 800px) {
  .content-container {
    padding: 0px 30px;
    width: 100%;
    margin-top: 10px;
  }

  .content-container img {
    width: calc(100% - 60px);
  }
}
