@use 'src/styles/fonts.scss';

.container {
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo {
  width: 50px;
}

.text-routes {
  display: flex;
}

.text-routes h1 {
  font-family: Roboto-Bold;
  font-size: 18px;
  color: var(--text-color);
  margin-left: 60px;
}

.switch-container {
  margin-left: 60px;
}
