@use 'src/styles/fonts.scss';
@use 'src/styles/colors.scss';

.container {
  width: calc(100% - 60px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
}

.logo {
  width: 50px;
}

.text-routes {
  display: flex;
}

.text-routes h1 {
  font-family: Roboto-Bold;
  font-size: 18px;
  color: colors.$not-quite-black;
  margin-left: 60px;
}
