@use 'src/styles/colors.scss';

html,
body {
  background: colors.$white;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}
